@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Xamarin.Forms performance is a problem and this is a known fact. Is is not on par with native Xamarin. We also don't have any good and easy way to measure Xamarin.Forms performance between versions. We don't know if new version will help us and the app with be faster or maybe it will slow down.</p>
<p>This project is an attempt to measure performance of every new Xamarin.Forms version with different automated tests and presenting the results on this website so they are easily accessible for everyone.</p>

<p><b>This is still in testing and presented results should not be trusted yet.</b></p>